@import "tailwindcss";
@plugin "daisyui";

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}